@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&family=Caveat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #dfdcdf;
    background-image: url('../img/fondos/inicio/fondo_inicio2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: rgb(255, 0, 0);
}
.logo img{
    width: 80px;
    border: 5px dashed red;
    border-radius: 5px;
}
.datos a:hover{
    color: #fff;
    cursor: default;
}

/*==============HEADER===========*/
header {
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.links h4{
    color: #FFF;
    text-align: center;
    padding-bottom: 10px;
    font-size: 18px;
}
.aliado{
    display: flex;
    justify-content: space-around;
}
/*===============DROPDOWN MENU===========*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*===================== HERO ================*/
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    width: 50%;
    margin: auto;
    
    
}

#hero h1{
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: #000000;
    font-family: 'Arvo', serif;
}
#hero p{
    font-family: cursive;
    color: rgb(253, 253, 253);
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(48, 20, 20, 0.603);
    border-radius: 10px;   
}
/*============VIDEO ============*/
main section video source{
    border-radius: 10px;
}
/*=============WHATSAPP================*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #FFF;
  background-color:#1ab152;
    
    animation: shake 1s;

 
  animation-iteration-count: infinite;
}

.my-float{
	margin-top:16px;
}
.pulse{
    animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
    0% {
     box-shadow: 0 0 0 0px #08100bfa; 
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }
  
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
  }
  /*============INFORMACION 1===================*/
.info {
    display: flex;
    align-items: center;
    padding: 40px 0px 15px 150px;
    margin-top: 147px; 
    
    
}
.info .info-img{
    width: 30%;
    padding-right: 40px;

}
.info-img {
    width: 70%;
    
}
.info-img img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    
    
}
.info-txt {
    width: 50%;
    
    text-align: center;
}
.info-txt h4{
    font-size: 35px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    
}
.info-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}
.info-txt .btn{
    background-color: #1ab152;
    padding: 10px;
    border-radius: 10px;
}
/*============INFORMACION 2===================*/
.info2 {
    padding-top: 40px;
    display: flex;
    align-items: center;
    
   
    
}
.info2 .info2-img{
    width: 30%;
    padding-left: 40px;

}
.info2-img {
    width: 70%;
    
}
.info2-img img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    
    
}
.info2-txt {
    width: 50%;
    padding-left: 140px;
    text-align: center;
}
.info2-txt h4{
    font-size: 35px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    
}
.info2-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}
.info2-txt .btn{
    background-color: #1ab152;
    padding: 10px;
    border-radius: 10px;
}
/*============INFORMACION 3===================*/
.info3 {
    display: flex;
    align-items: center;
    padding: 40px 0px 15px 150px;
    
    
    
}
.info3 .info3-img{
    
    width: 30%;
   padding-right: 40px;

}
.info3-img {
    width: 70%;
    
}
.info3-img img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    
    
}
.info3-txt {
    width: 50%;
    
    text-align: center;
}
.info3-txt h4{
    font-size: 35px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    
}
.info3-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}
.info3-txt .btn{
    background-color: #1ab152;
    padding: 10px;
    border-radius: 10px;
}
/*============INFORMACION 4===================*/
.info4 {
    padding-top: 40px;
    display: flex;
    align-items: center;
    
   
    
}
.info4 .info4-img{
    width: 30%;
    padding-left: 40px;

}
.info4-img {
    width: 70%;
    
}
.info4-img img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    
    
}
.info4-txt {
    width: 50%;
    padding-left: 140px;
    text-align: center;
}
.info4-txt h4{
    font-size: 35px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 45px;
    
}
.info4-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
}
.info4-txt .btn{
    background-color: #1ab152;
    padding: 10px;
    border-radius: 10px;
}
/*============INFORMACION 5===================*/
.info5 {
    display: flex;
    align-items: center;
    padding: 40px 0px 15px 150px;
    
    
    
}
.info5 .info5-img{
    
    width: 30%;
   padding-right: 40px;

}
.info5-img {
    width: 70%;
    
}
.info5-img img {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    
    
}
.info5-txt {
    width: 50%;
    
    text-align: center;
}
.info5-txt h4{
    font-size: 35px;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    
}
.info5-txt p{
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 50px;
    text-align: left;
}
.info5-txt .btn{
    background-color: #1ab152;
    padding: 10px;
    border-radius: 10px;
}
.info5 strong{
    color: #000;
}
/*==========TITULOS================*/
.titulo{
    padding: 40px 0px;
}
.titulo-txt h4{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.titulo-txt{
    display: flex;
    justify-content: space-around;
}
.txt{
    color: #FFF;
}
.txt h4{
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}
.txt a{
    font-size: 16px;
    text-transform: capitalize;
    color: #A7A7A7;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #000;
    border-radius: 5px;
}

/*============ICONOS DE BOOSTRAP*/
.edificio, .money, .light{
    font-size: 35px;
}
.rede{
    font-size: 30px;
  
}

.rede1{
    font-size: 20px;
    border: 1px solid #fff;
    padding: 10px;
}
.redes{
    display: flex;
    justify-content: space-around;
}
/*==============FOOTER =====================*/
.footer{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around; 
    background-color: #000;
}
.footer img{
    border-radius: 10px;
}
footer{
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 15px 0px;
}
/*===========RESPONSIVE============*/
@media(max-width: 992px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    #hero h1{
        font-size: 3.5rem;
    }
    #hero p{
        font-size: 1rem;
        padding: 10px;
    }
    /*PRIMER IMAGEN Y TEXTO RESPONSIVE*/
    .info{
        display: block;
    }
    .info-img img {
        margin-top: -120px;
        margin-left: -50px;
        height:250px;
        width: 300px;
    }
    .info-txt{
        width: 100%;
        margin-left: -70px;
    }
    .info-txt h4{
        font-size: 30px;
    }
    .info-txt p{
        margin-left: 0px;
        width: 100%;
    }
    /*SEGUNDA IMAGEN Y TEXTO RESPONSIVE*/
    .info2{
        margin-top: -60px;
    }
    
    .info2-img img {
        margin-top: -250px;
        margin-left: -295px;
        height:250px;
        width: 300px;
    }
    .info2-txt{
        width: 100%;
        margin-left: -70px;
        
    }
    .info2-txt h4{
        font-size: 30px;
        margin-top: 270px;
        text-align: center;
        width: 100%;
       
        margin-left: 40px;
    }
    .info2-txt p{
        margin-left: 40px;
        
        width: 100%;
    }
    /*SEGUNDA IMAGEN Y TEXTO RESPONSIVE*/

    .info3{
        display: block;
    }
    .info3-img img {
        margin-top: -40px;
        margin-left: -48px;
        height:250px;
        width: 300px;
    }
    .info3-txt{
        width: 100%;
        margin-left: -70px;
    }
    .info3-txt h4{
        font-size: 30px;
    }
    .info3-txt p{
        margin-left: 0px;
        width: 100%;
    }
/*CUARTA IMAGEN Y TEXTO RESPONSIVE*/
    .info4{
        margin-top: -120px;
    }

    .info4-img img {
        margin-top: -250px;
        margin-left: -295px;
        height:250px;
        width: 300px;
    }
    .info4-txt{
        width: 100%;
        margin-left: -70px;
        
    }
    .info4-txt h4{
        font-size: 30px;
        margin-top: 320px;
        text-align: center;
        width: 100%;
    
        margin-left: 40px;
    }
    .info4-txt p{
        margin-left: 40px;
        width: 100%;
    }
    /*PRIMER IMAGEN Y TEXTO RESPONSIVE*/
    .info5{
        display: block;
        margin-top: 80px;
    }
    .info5-img img {
        margin-top: -120px;
        margin-left: -50px;
        height:250px;
        width: 300px;
    }
    .info5-txt{
        width: 100%;
        margin-left: -70px;
    }
    .info5-txt h4{
        font-size: 30px;
    }
    .info5-txt p{
        margin-left: 0px;
        width: 100%;
    }
    /*OTROS*/
    .titulo-txt .txt h4{
        font-size: 12px;
    }
    .footer .logo-2{
        width: 250px;
        height: 120px;
    }
    
    
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .footer .logo-2{
        width: 220px;
        height: 100px;
        margin-left: 80px;
        margin-right: 20px;
    }
    .links .datos a{
      font-size: 15px;  
    }
    .links .aliado, .h4{
        display: none;
    }
    #hero h1{
        font-size: 2.8rem;
    }
    #hero p{
        font-size: 1rem;
        padding: 10px;
    }
    /*PRIMER IMAGEN Y TEXTO RESPONSIVE*/
    .info{
        display: block;
    }
    .info-img img {
        margin-top: -120px;
        margin-left: -100px;
        height:250px;
        width: 300px;
    }
    .info-txt{
        width: 70%;
        margin-left: -47px;
        
        
    }
    .info-txt h4{
        width: 150%;
        font-size: 25px;
        margin-left: -30px;
    }
    .info-txt p{
        margin-left: -20px;
        width: 140%;
    }
    /*SEGUNDA IMAGEN Y TEXTO RESPONSIVE*/
    .info2{
        margin-top: 320px;
    }
    
    .info2-img img {
        margin-top: -650px;
        margin-left: -245px;
        height:250px;
        width: 300px;
        float: left;
    }
    .info2-txt{
        padding: 0px;
        margin-left: 65px;
        margin-top: 0px;
        background-color: #999;
        width: 70%;
    }
    .info2-txt h4{
        font-size: 25px;
        margin-top: 0px;
        width: 100%;
        margin-left: 70px;
        background-color: burlywood;
        margin-bottom: 0px;
    }
    .info2-txt p{
        background-color: #1ab152;
        width: 100%;
        margin-left: 70px;

    }
    /*TERCERA IMAGEN Y TEXTO RESPONSIVE*/

    .info3{
        display: block;
    }
    .info3-img img {
        margin-top: -40px;
        margin-left: -48px;
        height:250px;
        width: 300px;
    }
    .info3-txt{
        width: 70%;
        margin-left: -43px;
       
        
    }
    .info3-txt h4{
        font-size: 25px;
    }
    .info3-txt p{
        margin-left: 0px;
        width: 100%;
    }
/*CUARTA IMAGEN Y TEXTO RESPONSIVE*/
    .info4{
        margin-top: -120px;
    }

    .info4-img img {
        margin-top: -250px;
        margin-left: -360px;
        height:250px;
        width: 300px;
    }
    .info4-txt{
        width: 100%;
        margin-left: -70px;
        
    }
    .info4-txt h4{
        font-size: 25px;
        margin-top: 310px;
        width: 85%;
        margin-left: 35px;
    }
    .info4-txt p{
        margin-top: -15px;
        margin-left: 40px;
        width: 85%;
        
    }
    /*PRIMER IMAGEN Y TEXTO RESPONSIVE*/
    .info5{
        display: block;
        margin-top: 80px;
    }
    .info5-img img {
        margin-top: -120px;
        margin-left: -45px;
        height:250px;
        width: 300px;
    }
    .info5-txt{
        width: 100%;
        margin-left: -70px;
    }
    .info5-txt h4{
        font-size: 25px;
        
        width: 70%;
        margin-left: 28px;
    }
    .info5-txt p{
        margin-left: 0px;
        width: 70%;
        margin-left: 35px;
    }
    .titulo-txt{
        display: flex;
        justify-content: space-evenly;
    }
    .edificio,.money,.light{
        font-size: 20px;
    }
    .btn-1{
        font-size: 12px!important;
    }
    .titulo-txt .txt h4{
        font-size: 10px;
    }
    .footer .logo-2{
       width: 70px;
       height: 50px;
       margin-left: 0px;
       margin-right: 0px;
    }
    
    
}